service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}{
      allow read: if request.auth.uid == userId;
      allow create, read, update: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /phone-numbers/{phoneNumber}{
      allow create, read, update: if request.auth.token.admin == true;
    }
    match /admins/{userId}{
    	allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /watch-list/{watchId} {
      allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow write: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /user-eth-wallets/{walletAddress}{
      allow create, read, update: if request.auth.token.admin == true;
    }
    match /xlm_prices/{timeStamp}{
      allow read: if true;
    }
    match /eth_prices/{timeStamp}{
      allow read: if true;
    }
    match /total_asset/{currencyType}{
      allow read: if true;
    }
    match /purchase_txs/{tid}{
      allow read: if request.auth.uid == resource.data.user_id;
    }
  }
}
