service cloud.firestore {
  match /databases/{database}/documents {
    match /users_claim/{userId}/claim_period/{claim_id} {
      allow read, update, create: if exists(/databases/$(database)/documents/admins/$(request.auth.uid))
    }
    match /claim_tx_logs {
      allow read, update, create: if exists(/databases/$(database)/documents/admins/$(request.auth.uid))
    }
    match /claim_tx_logs/{userId} {
      allow read: if request.auth.uid == userId;
      allow read, update, create: if exists(/databases/$(database)/documents/admins/$(request.auth.uid))
    }
    match /users/{userId}{
      allow read: if request.auth.uid == userId;
      allow create, read, update: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow read, update: if request.auth.token.admin == true;
    }
    match /users_claim/{userId}{
      allow read: if request.auth.uid == userId;
      allow create, read, update: if request.auth.token.admin == true;
    }
    match /users_claim/{userId}/claim_period/{claimId}{
      allow read: if request.auth.uid == userId;
      allow create, read, update: if request.auth.token.admin == true;
    }
    match /phone-numbers/{phoneNumber}{
      allow create, read, update: if request.auth.token.admin == true;
    }
    match /admins/{userId}{
      allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /watch-list/{watchId} {
      allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow write: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /user-eth-wallets/{walletAddress}{
      allow create, read, update: if request.auth.token.admin == true;
    }
    match /user-xlm-wallets/{walletAddress}{
      allow create, read, update: if request.auth.token.admin == true;
    }
    match /xlm_prices/{timeStamp}{
      allow read: if true;
    }
    match /eth_prices/{timeStamp}{
      allow read: if true;
    }
    match /total_asset/{currencyType}{
      allow read: if true;
    }
    match /purchase_txs/{tid}{
      allow read: if request.auth.uid == resource.data.user_id;
      allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /presale/supply/purchased_presale_tx/{userId} {
      allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow read: if request.auth.uid == userId;
    }
    match /users_log/{timeStamp}{
      allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /claim_tx_logs/{claimId}{
      allow write, read: if request.auth.token.admin == true;
      allow read: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
  }
}
