.dashboard {
	.container { min-width: 1100px; padding: $space-l 0;
		.twin { display: flex;
			justify-content: space-between; 
			section { width: calc(50% - 10px); }
		}
	}
	section { padding: 40px; background: #FFFFFF; margin-bottom: 20px; border-radius: 4px; box-shadow: 0 0 40px 0 rgba(74, 90, 181,0.125);
		
		header {    padding: 20px;
			border-bottom: 1px solid #e3e3e3; }
		&.with-table { padding: 0; }
		
		&.transaction-history {
			flex-shrink: 0;
		}
		&.progress {
			.bar { position: relative; height: 30px; width: 100%; background-color: aquamarine; border-radius: 30px;
				p { position: absolute; top: -30px; right: 0;
					&:nth-of-type(01) { right: 30%; }
				}
				.available { width: 10%; height: 100%; position: absolute; top: 0; left: 0; background-color: brown; border-radius: 30px; }
			}
		}

		&.user-detail {
			article {
				p { display: block; font-size: 32px; padding-right: 40px;
					span { font-weight: bold; color: #4a5ab5; }
				}

				// &:nth-of-type(02) {
				// 	p {
				// 		&:nth-of-type(01) { font-weight: 500; opacity: 0.5; }
				// 		&:nth-of-type(02) { font-size: $font-size-4xl; }
				// 	}
				// }
			}
		}

		&.alert {
			h2, p { margin-bottom: $space-m; }
		}

		&.payment {
			display: block;

			fieldset {
				&.address, &.alert { width: calc(50% - 10px); float: left; }

				&.address { margin-right: $space-s; }
				&.alert {
					margin-left: $space-s;

					p { margin-bottom: $space-m; }
				}
			} 
		}
	}

	aside {
		display: flex;
		
		iframe { margin: auto; }
	}

	.loader-more { padding: 20px;
		a { display: block;
			text-align: center;
			line-height: 30px;
			width: 100px;
			border: 1px solid #4a5ab5;
			color: #4a5ab5;
			border-radius: 30px;
			margin: auto;
			font-size: 14px; }
	 }
}