input, button, select, textarea { display: block; font-size: $font-size-m; border: none; outline: none; padding: 0 $space-s; border-radius: $border-radius; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; -ms-appearance: none; color: $font-color-primary; background: transparent; font-family: 'Quicksand', sans-serif; }

label {
    &.text, &.dropdown, &.textarea { display: block; border: 1px solid $border; border-radius: $border-radius; background: $white; position: relative; box-shadow: inset 0 1px 2px $border, 0 -1px 1px $white, 0 1px 0 $white; }

    &.text, &.dropdown, &.file, &.option { height: 40px; width: 300px; }

    &.text {
        input {
            width: 100%; height: 100%;

            &::-webkit-input-placeholder { color: $font-color-secondary; }
            &::-moz-placeholder { color: $font-color-secondary; }
            &:-ms-input-placeholder { color: $font-color-secondary; }
            &:-o-placeholder { color: $font-color-secondary; }
        }
    }
    
    &.textarea {
        width: 500px; height: auto;

        textarea {
            resize: none; min-height: 80px; padding: $space-s; width: 100%;

            &::-webkit-input-placeholder { line-height: inherit; }
            &::-moz-placeholder { line-height: inherit; }
            &:-ms-input-placeholder { line-height: inherit; }
            &:-o-placeholder { line-height: inherit; }
        }
    }

    &.dropdown, &.file {
        position: relative; box-shadow: inset 0 1px 0 0 $white; background: linear-gradient(to bottom, $white 5%, $gray 100%);

		i { position: absolute; width: 40px; top: 0; right: 0; line-height: 38px; height: 38px; text-align: center; color: $font-color-secondary; font-size: $font-size-xs; opacity: 0.7; }
    }

	&.dropdown {
		select { cursor: pointer; position: relative; padding-right: $space-l; width: 100%; height: 100%; }
    }
    
	&.file {
		display: block; cursor: pointer; border: 1px solid $border; border-radius: $border-radius;

		input { display: none; padding-right: $space-l; }

        p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: $font-size-m; color: inherit; line-height: 40px; padding: 0 $space-s; }
	}
    
    &.option {
		display: flex; height: 40px; align-items: center; cursor: pointer; position: relative; padding: 0 $space-s 0 35px; box-shadow: none;

		input {
			width: 0; height: 0; opacity: 0; padding: 0;

			// Check
			&:checked ~ span.check-mark {
				&:before { transform: rotate(-45deg); opacity: 1; }
				&:after { opacity: 1; }
			}
			&:checked ~ span.round {
				border-color: $blue;

				&:before { opacity: 1; }
			}

			// Disable
			&:disabled ~ span.check-mark, &:disabled ~ span.round { background: $gray; border-color: $border; }
			&:disabled ~ span.check-mark {
				&:after { background: $gray; }
			}
			&:disabled ~ span.round {
				border-color: $gray;

				&:before { background: $gray; }
			}
		}

		span {
			&.check-mark, &.round {
				box-shadow: inset 0 1px 2px $border, 0 -1px 1px $white, 0 1px 0 $white; background: $white; border: 1px solid $border; position: absolute; top: calc(50% - 12.5px); left: 0; width: 25px; height: 25px; display: block;

				&:before { content: ""; position: absolute; }
			}

			&.check-mark {
				border-radius: $border-radius;

				&:before { transform: rotate(-45deg); opacity: 0; border: 2px solid $white; border-top: none; border-right: none; top: 7px; left: 5px; width: 10px; height: 4px; z-index: 1; }
				&:after { content: ""; opacity: 0; background: $blue; border-radius: $border-radius; width: calc(100% + 2px); height: calc(100% + 2px); position: absolute; top: -1px; left: -1px; }
			}

			&.round {
				border-radius: 50%;

				&:before { opacity: 0; background: $blue; left: 3px; top: 3px; width: 12px; height: 12px; border-radius: 50%; }
			}

			&.avatar { margin-right: 8px; flex-shrink: 0; }
		}

		p {
			line-height: 25px; flex-grow: 1;

            i { margin-right: $space-s; }
            
			span { color: $font-color-secondary; font-size: $font-size-xs; margin-left: $space-s; }
		}
    }

	&.invalid, &.warning {
		position: relative; margin-bottom: $space-s;

		p { font-size: $font-size-xs; position: absolute; top: 100%; left: 0; width: 300px; line-height: 20px; }
	}

	&.invalid {
		border-color: $red; background: rgba($red, 0.05);

		p { color: $red !important; }
    }

	&.warning {
		border-color: $yellow; background: rgba($yellow, 0.05);

		p { color: $yellow !important; }
    }
    
	&.disable-label {
        background: $gray; cursor: default; overflow: hidden; opacity: 0.7;
        
        &.option { background: transparent; }

		input, textarea, select { cursor: default; overflow: hidden; }

        textarea { padding-top: 4px; }
	}
}

button { height: 40px; background: $blue; color: $white; font-weight: bold; cursor: pointer; min-width: 150px; }

dl {
    display: flex; flex-wrap: wrap; line-height: 40px; width: 100%;

    dt { width: 300px; }

    dd { width: calc(100% - 300px); }

    &:not(:last-of-type) { margin-bottom: $space-m; }
}

.btn { display: flex; justify-content: center; margin-top: $space-m; width: 100%; }