// sass --watch --sourcemap=none --n _style.scss:style.css --style compressed

// Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

:root { font-size: $font-size-m; }

body { line-height: 1.625; color: $font-color-primary; background: $white; font-weight: normal; font-family: 'Quicksand', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

// Heading
h1, h2, h3 { font-weight: bold; }
h1 { font-size: $font-size-4xl; }
h2 { font-size: $font-size-3xl; }
h3 { font-size: $font-size-xl; }

a {
	transition: 0.2s; color: inherit; outline: none; cursor: pointer;

	&.btn-link:hover { text-decoration: underline; }
}

.description { font-size: $font-size-s; color: $font-color-secondary; }

.container { position: relative; margin-left: auto; margin-right: auto; max-width: 1280px; }

.avatar {
	display: block;	width: 40px; height: 40px; border-radius: $border-radius; border: 1px solid $border;

	img { width: 100%; height: 100%; }
}

header.header {
	display: flex; align-items: center; width: 100%; padding: $space-m; height: 80px;

	.logo {
		display: block; height: 35px;

		img { height: 100%; }
	}

	ul.menu {
		font-weight: bold;

		li { margin-right: $space-s; }
	}

	.user {
		display: flex; align-items: center;

		p { margin-right: $space-s; }

		a.open-user { width: 35px; height: 35px; line-height: 35px; text-align: center; }
	}
}

footer { height: 60px; width: 100%; display: flex; justify-content: space-between; padding: $space-m; font-size: $font-size-s; }

main.login {
	display: flex; height: 100vh;

	section {
		&:nth-of-type(01) { width: 550px; }
		&:nth-of-type(02) { display: flex; align-items: center; flex-wrap: wrap; justify-content: center; width: calc(100% - 550px); background: $gray; }
	}

	header {
		justify-content: space-between;

		.btn-tool {
			display: flex;

			a { color: $blue; text-decoration: underline; margin-left: $space-s; }
		}
	}

	.container {
		display: flex; align-items: center; height: calc(100% - 140px); padding: $space-2xl;

		h1 {
			color: $blue; margin-bottom: $space-s; text-align: center; text-transform: uppercase;

			span { color: $font-color-primary; display: inline-block; margin-right: $space-s; }
		}

		p { text-align: center; color: $font-color-secondary; }

		form {
			width: 300px; margin: $space-m auto;

			label, button { width: 100%; }

			label { margin-bottom: $space-m; }

			a { display: block; text-align: center; margin-top: $space-s; color: $font-color-secondary; font-size: $font-size-s; }
		}

		.list {
			width: 100%; display: flex; justify-content: center; position: relative; color: $font-color-secondary; font-size: $font-size-l; padding-top: $space-m;

			&:before { content: ""; width: 70%; height: 1px; background: $border; position: absolute; top: 0; left: 15%; }

			li {
				margin: 0 $space-s;

				a {
					display: block; width: 25px; height: 25px; line-height: 25px; text-align: center; opacity: 0.7;

					&:hover { opacity: 1; }
				}
			}
		}

		.sign-in, .sign-up, .forgot {
			opacity: 0; display: none; flex-wrap: wrap; justify-content: center; align-items: center;

			&.show-detail { animation: fade-in-up 1s forwards; display: flex; -webkit-animation: fade-in-up 1s forwards; display: flex; -moz-animation: fade-in-up 1s forwards; display: flex; -o-animation: fade-in-up 1s forwards; display: flex; }
			
			@keyframes fade-in-up {
				from { transform: translate3d(0, 30%, 0); }
				to { opacity: 1; transform: none; }
			}
			@-webkit-keyframes fade-in-up {
				from { transform: translate3d(0, 30%, 0); }
				to { opacity: 1; transform: none; }
			}
			@-moz-keyframes fade-in-up {
				from { transform: translate3d(0, 30%, 0); }
				to { opacity: 1; transform: none; }
			}
			@-o-keyframes fade-in-up {
				from { transform: translate3d(0, 30%, 0); }
				to { opacity: 1; transform: none; }
			}
		}

		.forgot h1 { margin: 0; }
	}

	ul.slider-img {
		overflow: hidden; width: 600px;

		.slide { display: flex; position: relative; }

		li { display: flex; align-items: flex-end; }

		img { width: 600px; }
	}

	ul.slider-nav {
		display: flex; width: 100%; justify-content: center;

		li {
			display: block; font-size: 8px; color: $font-color-secondary; width: 15px; height: 15px; line-height: 15px; cursor: pointer; text-align: center; opacity: 0.75;

			&.current, &:hover { color: $blue; }
		}
	}
}