// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

:root { font-size: 14px; }

body { line-height: 1.825; color: $font-color-primary; background: $white; font-weight: normal; /*font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;*/ font-family: 'Quicksand', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

// Heading
h1, h2, h3 { font-weight: bold; }
h1 { font-size: $font-size-4xl; }
h2 { font-size: $font-size-3xl; }
h3 { font-size: $font-size-xl; }

a { transition: 0.2s; color: inherit; outline: none; cursor: pointer;
	&.btn-link:hover { text-decoration: underline; }
}

.description { font-size: $font-size-s; color: $font-color-secondary; }

.container { position: relative; margin-left: auto; margin-right: auto; max-width: 640px; }

.avatar {
	display: block; width: 50px; height: 50px; line-height: 50px; text-align: center; border-radius: 50%; background: $blue; color: $white; font-weight: 500; font-size: $font-size-4xl;
	img { width: 100%; height: 100%; }
}

.header {
	position: relative; display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 $space-l; min-height: 60px; background: $blue; color: $white;

	.logo, .logout { display: block; flex-shrink: 0; line-height: 60px; }

	.logo {
		img { height: 30px; position: relative; top: -5px; }
	}

	.logout {
		i { margin-left: $space-s;}
	}

	.menu {
		display: flex;

		li {
			a {
				line-height: 60px; padding: 0 20px;

				&:hover { text-decoration: underline; }
			}
		}
	}

	.exchange {
		display: flex; position: absolute; top: 10px; left: 120px;

		li {
			padding: 0 $space-xl;

			p {
				display: block; line-height: 20px;

				&:last-of-type { font-weight: 500; }
			}

			&:not(:last-of-type) { border-right: 1px solid rgba($white, 0.2); }
		}
	}
}

footer { height: 60px; width: 100%; display: flex; justify-content: space-between; padding: $space-m; font-size: $font-size-s; }


p.alert-text {
	display: block; color: $green; margin-bottom: $space-m; text-align: center;

	&:last-child { margin: $space-m 0 0 0; }

	&.error { color: $red; }
}

a.next-step, a.back { display: block; text-align: center; margin-top: $space-l; text-decoration: underline; }

.loading { display: none; justify-content: center; align-items: center; width: 100%; height: 100%;

	p {
		display: block;

		i { margin-right: $space-s; }
	}

	&.show-loading { display: flex; }
}

// ====== Countdown ====== //
$flipColorDark: $gray;
$textColor: $blue;
$textColorDark: darken($textColor, 30%);

ul.countdown {
	display: flex; flex-wrap: wrap; justify-content: center; padding: 25px 20px; margin: 0 auto;

	> p { width: 100%; text-align: center; margin-bottom: $space-m; }

	li {
		list-style-type: none; text-align: center; margin: 0 $space-s;

		p {
			display: block;

			&.digit {
				width: 60px; height: 66px; background: $white; color: $blue; font-weight: bold; font-size: $font-size-ultra; padding: $space-m $space-s; line-height: 25px; margin-bottom: $space-m; border-radius: $border-radius; position: relative; border: 1px solid $border;

				&:before { border-bottom-left-radius: $border-radius; border-bottom-right-radius: $border-radius; content: ""; background: $flipColorDark; width: 100%; height: 50%;position: absolute; bottom: 0; left: 0; }

				.base { display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
			}

			&:nth-of-type(02) { text-transform: uppercase; font-size: $font-size-s; line-height: $space-s; opacity: 0.75;  }
		}

		&:first-of-type:before { display: none; }
	}
}

.flap {
	display: none; position: absolute; width: 100%; height: 50%; background: $white; left: 0; top: 0; border-radius: $border-radius $border-radius 0 0; transform-origin: 50% 100%; backface-visibility: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; overflow: hidden;

	&:before { content: attr(data-content); position: absolute; left: 50%; }

	&.front:before,
	&.under:before { top: 100%; transform: translate(-50%, -50%); }
	&.back {
		transform: rotateY(180deg);

		&:before { top: 100%; transform:  translate(-50%, -50%) rotateZ(180deg); }
	}

	&.over { z-index: 2; }
	&.under { z-index: 1; }

	&.front { animation: flip-down-front 300ms ease-in both; -webkit-animation: flip-down-front 300ms ease-in both; -moz-animation: flip-down-front 300ms ease-in both; -o-animation: flip-down-front 300ms ease-in both; }

	&.back { animation: flip-down-back 300ms ease-in both; -webkit-animation: flip-down-back 300ms ease-in both; -moz-animation: flip-down-back 300ms ease-in both; -o-animation: flip-down-back 300ms ease-in both; }

	&.under { animation: fade-under 300ms ease-in both; -webkit-animation: fade-under 300ms ease-in both; -moz-animation: fade-under 300ms ease-in both; -o-animation: fade-under 300ms ease-in both; }
}

@keyframes flip-down-front {
	0% { transform: rotateX(0deg); background: $white; color: $textColor; }
	100% { transform: rotateX(-180deg); background: $flipColorDark; color: $textColorDark; }
}
@-webkit-keyframes flip-down-front {
	0% { transform: rotateX(0deg); background: $white; color: $textColor; }
	100% { transform: rotateX(-180deg); background: $flipColorDark; color: $textColorDark; }
}
@-moz-keyframes flip-down-front {
	0% { transform: rotateX(0deg); background: $white; color: $textColor; }
	100% { transform: rotateX(-180deg); background: $flipColorDark; color: $textColorDark; }
}
@-o-keyframes flip-down-front {
	0% { transform: rotateX(0deg); background: $white; color: $textColor; }
	100% { transform: rotateX(-180deg); background: $flipColorDark; color: $textColorDark; }
}

@keyframes flip-down-back {
	0% { transform: rotateY(180deg) rotateX(0deg); background: $flipColorDark; color: $textColorDark; }
	100% { transform: rotateY(180deg) rotateX(180deg); background: $flipColorDark; color: $textColor; }
}
@-webkit-keyframes flip-down-back {
	0% { transform: rotateY(180deg) rotateX(0deg); background: $flipColorDark; color: $textColorDark; }
	100% { transform: rotateY(180deg) rotateX(180deg); background: $flipColorDark; color: $textColor; }
}
@-moz-keyframes flip-down-back {
	0% { transform: rotateY(180deg) rotateX(0deg); background: $flipColorDark; color: $textColorDark; }
	100% { transform: rotateY(180deg) rotateX(180deg); background: $flipColorDark; color: $textColor; }
}
@-o-keyframes flip-down-back {
	0% { transform: rotateY(180deg) rotateX(0deg); background: $flipColorDark; color: $textColorDark; }
	100% { transform: rotateY(180deg) rotateX(180deg); background: $flipColorDark; color: $textColor; }
}

@keyframes fade-under {
	0% { background: $flipColorDark; color: $textColorDark; }
	100% { background: $white; color: $textColor; }
}
@-webkit-keyframes fade-under {
	0% { background: $flipColorDark; color: $textColorDark; }
	100% { background: $white; color: $textColor; }
}
@-moz-keyframes fade-under {
	0% { background: $flipColorDark; color: $textColorDark; }
	100% { background: $white; color: $textColor; }
}
@-o-keyframes fade-under {
	0% { background: $flipColorDark; color: $textColorDark; }
	100% { background: $white; color: $textColor; }
}
// =================== //

// Dialog //
[class^="dialog-"] { display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 0; overflow: hidden;

	&:before { content: ""; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); }

	dialog {
		transition: 0.2s; border-radius: $border-radius; background: $white;  position: relative; display: none;

		a.close {
			display: block; transition: 0.2s; opacity: 0.5; text-align: center; cursor: pointer;

			i { margin-right: 0; }

			&:hover { opacity: 1; }
		}
	}

	&.show-dialog { height: 100%; z-index: 1000; overflow: visible;
		&:before { display: block; }

		dialog { display: block; animation-name: animate; animation-duration: 0.5s; animation-fill-mode: both; -webkit-animation-name: animate; -webkit-animation-duration: 0.5s; -webkit-animation-fill-mode: both; -moz-animation-name: animate; -moz-animation-duration: 0.5s; -moz-animation-fill-mode: both; -o-animation-name: animate; -o-animation-duration: 0.5s; -o-animation-fill-mode: both;

			@keyframes animate {
				from { visibility: hidden; opacity: 0; transform: translate3d(0, 30%, 0); }
				to { visibility: visible; opacity: 1; transform: none; }
			}
			@-webkit-keyframes animate {
				from { visibility: hidden; opacity: 0; transform: translate3d(0, 30%, 0); }
				to { visibility: visible; opacity: 1; transform: none; }
			}
			@-moz-keyframes animate {
				from { visibility: hidden; opacity: 0; transform: translate3d(0, 30%, 0); }
				to { visibility: visible; opacity: 1; transform: none; }
			}
			@-o-keyframes animate {
				from { visibility: hidden; opacity: 0; transform: translate3d(0, 30%, 0); }
				to { visibility: visible; opacity: 1; transform: none; }
			}
		}

	}
}

.dialog-video {
	dialog {
		display: flex !important; flex-wrap: wrap; background: $black; position: relative;

		a.close { font-size: $font-size-m; text-decoration: underline; width: 130px; height: 35px; line-height: 30px; margin: 0 auto; position: absolute; bottom: -50px; color: $white; opacity: 1; left: calc(50% - 65px); }
	}
}