// Color
$black:                 #1f2533;
$white:					#FFFFFF;
$purple:                #3A1C71;
$blue:			        #4a5ab5;
$yellow:                #ffcc00;
$orange:				#FF8648;
$gray:                  #f1f4f9;
$cyan:            		#03c9ca;
$red:            		#ec5151;
$dark-gray:             #8995ad;

// Layout
$border:                #e3e3e3;
$border-radius:         4px;
$box-shadow:			0 0 15px -1px rgba(74,90,181,0.2);

// Font Size
$font-size-2ultra:		42px;
$font-size-ultra:		32px;
$font-size-4xl:		    28px;
$font-size-3xl:			24px;
$font-size-2xl:			22px;
$font-size-xl:			20px;
$font-size-ml:			18px;
$font-size-l:			16px;
$font-size-m:			14px;
$font-size-s:			12px;
$font-size-xs:			11px;

// Font Color
$font-color-primary:	#4a4a48;
$font-color-secondary: 	#848c99;

// Space
$space-xs:              5px;
$space-s:               10px;
$space-m:               20px;
$space-l:               40px;
$space-xl:              60px;
$space-2xl:             80px;
$space-3xl:             100px;
$space-4xl:             120px;
$space-5xl:             160px;

// Social
$facebook:				#3B5998;
$twitter:				#00ACED;
$instagram:				#517FA4;
$youtube:				#BB0000;
$reddit:                #ff4401;
$medium:                #00ab6c;
