@media only screen and (max-width: 400px) {
  :root {
    font-size: 13px;
  }

  ul.countdown li p.digit {
    width: 40px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 360px) {
  ul.countdown li p.digit {
    width: 30px;
    font-size: 18px;
    height: 42px;
  }
}

#kycFormAlert {
  height: unset;
  overflow: visible;
  visibility: visible;
  display: none;
  margin-bottom: 15px;
}
